DATABASE_URL=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/fernandaepedro?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/fernandaepedro?sslmode=require
NEXT_PUBLIC_WEDDING_DATE=2026-08-08
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.8!2d-43.94!3d-19.96!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDU3JzM2LjAiUyA0M8KwNTYnMjQuMCJX!5e0!3m2!1spt-BR!2sbr!4v1234567890
MERCADO_PAGO_ACCESS_TOKEN=TEST-2077094581531372-022600-ffeb5afc9a86dfd13800d7159caf4366-3367306
